<nav class="navbar fixed-bottom navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">Blog</a>    

      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="button" href="#"> <%= user_signed_in? ? current_user.name : "Entra Ya!!!"%></a>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Salir", destroy_user_session_path, method: :delete %>
          </li>        
        <% else %>
          <li class="nav-item">
            <a class="nav-link active" href="<%= new_user_session_path %>">Ingresar</a></li>
          <li class="nav-item">
            <a class="nav-link active" href="<%= new_user_registration_path %>">Registrarse</a></li>    
        <% end %>
      </ul>      
    </div>
</nav>

